html, body {
	height: 100%;
	width: 100%;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

.characters {
	flex: 1;
	height: 100%;
	overflow-y: scroll;
}

.starships {
	flex: 1;
}

.character-list {
	list-style-type: none;
}